<html>

<head>
    <link rel="stylesheet" href="/static/home.css" />
    <title> Home Page</title>
</head>

<body>
  <div>
    <h1>Shitty Bike</h1>
    <select id="bike-station">
        <option label="1 Ave & E 110 St">1 Ave & E 110 St)</option>
        <option label="1 Ave & E 16 St">1 Ave & E 16 St)</option>
        <option label="1 Ave & E 18 St">1 Ave & E 18 St)</option>
        <option label="1 Ave & E 30 St">1 Ave & E 30 St)</option>
        <option label="1 Ave & E 44 St">1 Ave & E 44 St)</option>
        <option label="1 Ave & E 62 St">1 Ave & E 62 St)</option>
        <option label="1 Ave & E 68 St">1 Ave & E 68 St)</option>
        <option label="1 Ave & E 78 St">1 Ave & E 78 St)</option>
        <option label="1 Ave & E 94 St">1 Ave & E 94 St)</option>
        <option label="1 Pl & Clinton St">1 Pl & Clinton St)</option>
        <option label="10 Hudson Yards">10 Hudson Yards)</option>
        <option label="10 St & 5 Ave">10 St & 5 Ave)</option>
        <option label="10 St & 7 Ave">10 St & 7 Ave)</option>
        <option label="11 Ave & W 27 St">11 Ave & W 27 St)</option>
        <option label="11 Ave & W 41 St">11 Ave & W 41 St)</option>
        <option label="11 Ave & W 59 St">11 Ave & W 59 St)</option>
        <option label="11 St & 35 Ave">11 St & 35 Ave)</option>
        <option label="11 St & 43 Ave">11 St & 43 Ave)</option>
        <option label="12 Ave & W 40 St">12 Ave & W 40 St)</option>
        <option label="12 St & 4 Ave">12 St & 4 Ave)</option>
        <option label="14 St & 5 Ave">14 St & 5 Ave)</option>
        <option label="14 St & 7 Ave">14 St & 7 Ave)</option>
        <option label="19 St & 24 Ave">19 St & 24 Ave)</option>
        <option label="2 Ave & 36 St - Citi Bike HQ at Industry City">2 Ave & 36 St - Citi Bike HQ at Industry City)</option>
        <option label="2 Ave & 9 St">2 Ave & 9 St)</option>
        <option label="2 Ave & E 104 St">2 Ave & E 104 St)</option>
        <option label="2 Ave & E 122 St">2 Ave & E 122 St)</option>
        <option label="2 Ave & E 31 St">2 Ave & E 31 St)</option>
        <option label="2 Ave & E 55 St">2 Ave & E 55 St)</option>
        <option label="2 Ave & E 96 St">2 Ave & E 96 St)</option>
        <option label="2 Ave & E 99 St">2 Ave & E 99 St)</option>
        <option label="21 St & 31 Dr">21 St & 31 Dr)</option>
        <option label="21 St & 36 Ave">21 St & 36 Ave)</option>
        <option label="21 St & 38 Ave">21 St & 38 Ave)</option>
        <option label="21 St & 43 Ave">21 St & 43 Ave)</option>
        <option label="21 St & Hoyt Ave S">21 St & Hoyt Ave S)</option>
        <option label="21 St & Queens Plaza North">21 St & Queens Plaza North)</option>
        <option label="23 Ave & 27 St">23 Ave & 27 St)</option>
        <option label="24 Ave & 26 St">24 Ave & 26 St)</option>
        <option label="24 Ave & 29 St">24 Ave & 29 St)</option>
        <option label="24 St & 41 Ave">24 St & 41 Ave)</option>
        <option label="27 Ave & 4 St">27 Ave & 4 St)</option>
        <option label="27 Ave & 9 St">27 Ave & 9 St)</option>
        <option label="27 St & Hunter St">27 St & Hunter St)</option>
        <option label="28 Ave & 35 St">28 Ave & 35 St)</option>
        <option label="28 Ave & 44 St">28 Ave & 44 St)</option>
        <option label="28 St & 36 Ave">28 St & 36 Ave)</option>
        <option label="28 St & 38 Ave">28 St & 38 Ave)</option>
        <option label="28 St & 40 Ave">28 St & 40 Ave)</option>
        <option label="28 St & 41 Ave">28 St & 41 Ave)</option>
        <option label="3 Ave & 14 St">3 Ave & 14 St)</option>
        <option label="3 Ave & E 100 St">3 Ave & E 100 St)</option>
        <option label="3 Ave & E 112 St">3 Ave & E 112 St)</option>
        <option label="3 Ave & E 62 St">3 Ave & E 62 St)</option>
        <option label="3 Ave & E 71 St">3 Ave & E 71 St)</option>
        <option label="3 Ave & E 72 St">3 Ave & E 72 St)</option>
        <option label="3 Ave & E 95 St">3 Ave & E 95 St)</option>
        <option label="3 St & 3 Ave">3 St & 3 Ave)</option>
        <option label="3 St & 7 Ave">3 St & 7 Ave)</option>
        <option label="3 St & Hoyt St">3 St & Hoyt St)</option>
        <option label="3 St & Prospect Park West">3 St & Prospect Park West)</option>
        <option label="30 Ave & 21 St">30 Ave & 21 St)</option>
        <option label="31 Ave & 14 St">31 Ave & 14 St)</option>
        <option label="31 Ave & 30 St">31 Ave & 30 St)</option>
        <option label="31 Ave & 34 St">31 Ave & 34 St)</option>
        <option label="31 Ave & Crescent St">31 Ave & Crescent St)</option>
        <option label="31 Ave & Steinway St">31 Ave & Steinway St)</option>
        <option label="31 St & 23 Ave">31 St & 23 Ave)</option>
        <option label="31 St & 35 Ave">31 St & 35 Ave)</option>
        <option label="31 St & Astoria Blvd">31 St & Astoria Blvd)</option>
        <option label="31 St & Broadway">31 St & Broadway)</option>
        <option label="31 St & Hoyt Ave N">31 St & Hoyt Ave N)</option>
        <option label="31 St & Northern Blvd">31 St & Northern Blvd)</option>
        <option label="31 St & Thomson Ave">31 St & Thomson Ave)</option>
        <option label="32 St & 30 Ave">32 St & 30 Ave)</option>
        <option label="34 Ave & 13 St">34 Ave & 13 St)</option>
        <option label="34 Ave & 21 St">34 Ave & 21 St)</option>
        <option label="34 Ave & 38 St">34 Ave & 38 St)</option>
        <option label="34 St & 35 Ave">34 St & 35 Ave)</option>
        <option label="35 Ave & 10 St">35 Ave & 10 St)</option>
        <option label="35 Ave & 37 St">35 Ave & 37 St)</option>
        <option label="35 St & 34 Ave">35 St & 34 Ave)</option>
        <option label="35 St & Broadway">35 St & Broadway)</option>
        <option label="36 Ave & 10 St">36 Ave & 10 St)</option>
        <option label="37 Ave & 35 St">37 Ave & 35 St)</option>
        <option label="37 St & 24 Ave">37 St & 24 Ave)</option>
        <option label="39 St & 2 Ave - Citi Bike HQ at Industry City">39 St & 2 Ave - Citi Bike HQ at Industry City)</option>
        <option label="4 Ave & 2 St">4 Ave & 2 St)</option>
        <option label="4 Ave & 9 St">4 Ave & 9 St)</option>
        <option label="40 Ave & 9 St">40 Ave & 9 St)</option>
        <option label="43 St & Broadway">43 St & Broadway)</option>
        <option label="44 Dr & 21 St">44 Dr & 21 St)</option>
        <option label="44 Dr & Jackson Ave">44 Dr & Jackson Ave)</option>
        <option label="45 Rd & 11 St">45 Rd & 11 St)</option>
        <option label="46 Ave & 5 St">46 Ave & 5 St)</option>
        <option label="47 Ave & 31 St">47 Ave & 31 St)</option>
        <option label="48 Ave & 30 Pl">48 Ave & 30 Pl)</option>
        <option label="48 Ave & 5 St">48 Ave & 5 St)</option>
        <option label="49 Ave & 21 St">49 Ave & 21 St)</option>
        <option label="5 Ave & 3 St">5 Ave & 3 St)</option>
        <option label="5 Ave & E 103 St">5 Ave & E 103 St)</option>
        <option label="5 Ave & E 126 St">5 Ave & E 126 St)</option>
        <option label="5 Ave & E 29 St">5 Ave & E 29 St)</option>
        <option label="5 Ave & E 63 St">5 Ave & E 63 St)</option>
        <option label="5 Ave & E 73 St">5 Ave & E 73 St)</option>
        <option label="5 Ave & E 78 St">5 Ave & E 78 St)</option>
        <option label="5 Ave & E 88 St">5 Ave & E 88 St)</option>
        <option label="5 Ave & E 93 St">5 Ave & E 93 St)</option>
        <option label="5 St & 51 Ave">5 St & 51 Ave)</option>
        <option label="5 St & 6 Ave">5 St & 6 Ave)</option>
        <option label="5 St & Market St">5 St & Market St)</option>
        <option label="6 Ave & 12 St">6 Ave & 12 St)</option>
        <option label="6 Ave & 9 St">6 Ave & 9 St)</option>
        <option label="6 Ave & Canal St">6 Ave & Canal St)</option>
        <option label="6 Ave & Spring St">6 Ave & Spring St)</option>
        <option label="6 Ave & W 33 St">6 Ave & W 33 St)</option>
        <option label="6 St & 7 Ave">6 St & 7 Ave)</option>
        <option label="7 St & 3 Ave">7 St & 3 Ave)</option>
        <option label="7 St & 5 Ave">7 St & 5 Ave)</option>
        <option label="8 Ave & W 31 St">8 Ave & W 31 St)</option>
        <option label="8 Ave & W 33 St">8 Ave & W 33 St)</option>
        <option label="8 Ave & W 52 St">8 Ave & W 52 St)</option>
        <option label="8D Mobile 01">8D Mobile 01)</option>
        <option label="8D OPS 01">8D OPS 01)</option>
        <option label="8D QC Station 01">8D QC Station 01)</option>
        <option label="9 Ave & W 22 St">9 Ave & W 22 St)</option>
        <option label="9 Ave & W 45 St">9 Ave & W 45 St)</option>
        <option label="9 St & 44 Rd">9 St & 44 Rd)</option>
        <option label="Adam Clayton Powell Blvd & W 115 St">Adam Clayton Powell Blvd & W 115 St)</option>
        <option label="Adam Clayton Powell Blvd & W 118 St">Adam Clayton Powell Blvd & W 118 St)</option>
        <option label="Adam Clayton Powell Blvd & W 123 St">Adam Clayton Powell Blvd & W 123 St)</option>
        <option label="Adam Clayton Powell Blvd & W 126 St">Adam Clayton Powell Blvd & W 126 St)</option>
        <option label="Albany Ave & Fulton St">Albany Ave & Fulton St)</option>
        <option label="Allen St & Hester St">Allen St & Hester St)</option>
        <option label="Allen St & Rivington St">Allen St & Rivington St)</option>
        <option label="Amsterdam Ave & W 119 St">Amsterdam Ave & W 119 St)</option>
        <option label="Amsterdam Ave & W 125 St">Amsterdam Ave & W 125 St)</option>
        <option label="Amsterdam Ave & W 66 St">Amsterdam Ave & W 66 St)</option>
        <option label="Amsterdam Ave & W 73 St">Amsterdam Ave & W 73 St)</option>
        <option label="Amsterdam Ave & W 79 St">Amsterdam Ave & W 79 St)</option>
        <option label="Amsterdam Ave & W 82 St">Amsterdam Ave & W 82 St)</option>
        <option label="Astoria Park S & Shore Blvd">Astoria Park S & Shore Blvd)</option>
        <option label="Atlantic Ave & Furman St">Atlantic Ave & Furman St)</option>
        <option label="Baltic St & 5 Ave">Baltic St & 5 Ave)</option>
        <option label="Banker St & Meserole Ave">Banker St & Meserole Ave)</option>
        <option label="Barclay St & Church St">Barclay St & Church St)</option>
        <option label="Bayard St & Leonard St">Bayard St & Leonard St)</option>
        <option label="Bedford Ave & Bergen St">Bedford Ave & Bergen St)</option>
        <option label="Bedford Ave & Nassau Ave">Bedford Ave & Nassau Ave)</option>
        <option label="Bedford Ave & S 9 St">Bedford Ave & S 9 St)</option>
        <option label="Bergen St & Flatbush Ave">Bergen St & Flatbush Ave)</option>
        <option label="Bergen St & Smith St">Bergen St & Smith St)</option>
        <option label="Bergen St & Vanderbilt Ave">Bergen St & Vanderbilt Ave)</option>
        <option label="Berkeley Pl & 6 Ave">Berkeley Pl & 6 Ave)</option>
        <option label="Berkeley Pl & 7 Ave">Berkeley Pl & 7 Ave)</option>
        <option label="Berry St & N 8 St">Berry St & N 8 St)</option>
        <option label="Boerum St & Broadway">Boerum St & Broadway)</option>
        <option label="Bond St & Bergen St">Bond St & Bergen St)</option>
        <option label="Bond St & Fulton St">Bond St & Fulton St)</option>
        <option label="Broadway & 12 St">Broadway & 12 St)</option>
        <option label="Broadway & Berry St">Broadway & Berry St)</option>
        <option label="Broadway & E 22 St">Broadway & E 22 St)</option>
        <option label="Broadway & Moylan Pl">Broadway & Moylan Pl)</option>
        <option label="Broadway & Roebling St">Broadway & Roebling St)</option>
        <option label="Broadway & W 122 St">Broadway & W 122 St)</option>
        <option label="Broadway & W 25 St">Broadway & W 25 St)</option>
        <option label="Broadway & W 29 St">Broadway & W 29 St)</option>
        <option label="Broadway & W 32 St">Broadway & W 32 St)</option>
        <option label="Broadway & W 37 St">Broadway & W 37 St)</option>
        <option label="Broadway & W 38 St">Broadway & W 38 St)</option>
        <option label="Broadway & W 41 St">Broadway & W 41 St)</option>
        <option label="Broadway & W 51 St">Broadway & W 51 St)</option>
        <option label="Broadway & W 53 St">Broadway & W 53 St)</option>
        <option label="Broadway & W 56 St">Broadway & W 56 St)</option>
        <option label="Broadway & W 58 St">Broadway & W 58 St)</option>
        <option label="Broadway & W 60 St">Broadway & W 60 St)</option>
        <option label="Broadway & Whipple St">Broadway & Whipple St)</option>
        <option label="Brooklyn Bridge Park - Pier 2">Brooklyn Bridge Park - Pier 2)</option>
        <option label="Bus Slip & State St">Bus Slip & State St)</option>
        <option label="Bushwick Ave & Powers St">Bushwick Ave & Powers St)</option>
        <option label="Butler St & Court St">Butler St & Court St)</option>
        <option label="Cambridge Pl & Gates Ave">Cambridge Pl & Gates Ave)</option>
        <option label="Carlton Ave & Dean St">Carlton Ave & Dean St)</option>
        <option label="Carlton Ave & Park Ave">Carlton Ave & Park Ave)</option>
        <option label="Carmine St & 6 Ave">Carmine St & 6 Ave)</option>
        <option label="Carroll St & 5 Ave">Carroll St & 5 Ave)</option>
        <option label="Carroll St & 6 Ave">Carroll St & 6 Ave)</option>
        <option label="Carroll St & Bond St">Carroll St & Bond St)</option>
        <option label="Carroll St & Columbia St">Carroll St & Columbia St)</option>
        <option label="Carroll St & Franklin Ave">Carroll St & Franklin Ave)</option>
        <option label="Carroll St & Smith St">Carroll St & Smith St)</option>
        <option label="Carroll St & Washington Ave">Carroll St & Washington Ave)</option>
        <option label="Cathedral Pkwy & Broadway">Cathedral Pkwy & Broadway)</option>
        <option label="Catherine St & Monroe St">Catherine St & Monroe St)</option>
        <option label="Center Blvd & 48 Ave">Center Blvd & 48 Ave)</option>
        <option label="Center Blvd & Borden Ave">Center Blvd & Borden Ave)</option>
        <option label="Central Park North & Adam Clayton Powell Blvd">Central Park North & Adam Clayton Powell Blvd)</option>
        <option label="Central Park S & 6 Ave">Central Park S & 6 Ave)</option>
        <option label="Central Park W & W 96 St">Central Park W & W 96 St)</option>
        <option label="Central Park West & W 100 St">Central Park West & W 100 St)</option>
        <option label="Central Park West & W 102 St">Central Park West & W 102 St)</option>
        <option label="Central Park West & W 68 St">Central Park West & W 68 St)</option>
        <option label="Central Park West & W 72 St">Central Park West & W 72 St)</option>
        <option label="Central Park West & W 76 St">Central Park West & W 76 St)</option>
        <option label="Central Park West & W 85 St">Central Park West & W 85 St)</option>
        <option label="Centre St & Chambers St">Centre St & Chambers St)</option>
        <option label="Centre St & Worth St">Centre St & Worth St)</option>
        <option label="Christopher St & Greenwich St">Christopher St & Greenwich St)</option>
        <option label="Clark St & Henry St">Clark St & Henry St)</option>
        <option label="Classon Ave & St Marks Ave">Classon Ave & St Marks Ave)</option>
        <option label="Clermont Ave & Lafayette Ave">Clermont Ave & Lafayette Ave)</option>
        <option label="Clermont Ave & Park Ave">Clermont Ave & Park Ave)</option>
        <option label="Clinton Ave & Myrtle Ave">Clinton Ave & Myrtle Ave)</option>
        <option label="Clinton St & 4 Place">Clinton St & 4 Place)</option>
        <option label="Clinton St & Centre St">Clinton St & Centre St)</option>
        <option label="Clinton St & Union St">Clinton St & Union St)</option>
        <option label="Coffey St & Conover St">Coffey St & Conover St)</option>
        <option label="Columbia St & Degraw St">Columbia St & Degraw St)</option>
        <option label="Columbia St & Kane St">Columbia St & Kane St)</option>
        <option label="Columbia St & Lorraine St">Columbia St & Lorraine St)</option>
        <option label="Columbia St & W 9 St">Columbia St & W 9 St)</option>
        <option label="Columbus Ave & W 103 St">Columbus Ave & W 103 St)</option>
        <option label="Columbus Ave & W 72 St">Columbus Ave & W 72 St)</option>
        <option label="Columbus Ave & W 95 St">Columbus Ave & W 95 St)</option>
        <option label="Commerce St & Van Brunt St">Commerce St & Van Brunt St)</option>
        <option label="Congress St & Clinton St">Congress St & Clinton St)</option>
        <option label="Cooper Square & Astor Pl">Cooper Square & Astor Pl)</option>
        <option label="Court St & Nelson St">Court St & Nelson St)</option>
        <option label="Court St & State St">Court St & State St)</option>
        <option label="Crescent St & 30 Ave">Crescent St & 30 Ave)</option>
        <option label="Crescent St & 34 Ave">Crescent St & 34 Ave)</option>
        <option label="Crescent St & 35 Ave">Crescent St & 35 Ave)</option>
        <option label="Crescent St & Broadway">Crescent St & Broadway)</option>
        <option label="Crescent St & Ditmars Blvd">Crescent St & Ditmars Blvd)</option>
        <option label="Crown St & Bedford Ave">Crown St & Bedford Ave)</option>
        <option label="Cumberland St & Lafayette Ave">Cumberland St & Lafayette Ave)</option>
        <option label="DeKalb Ave & Skillman St">DeKalb Ave & Skillman St)</option>
        <option label="Dean St & 4 Ave">Dean St & 4 Ave)</option>
        <option label="Dean St & Franklin Ave">Dean St & Franklin Ave)</option>
        <option label="Dean St & Hoyt St">Dean St & Hoyt St)</option>
        <option label="Degraw St & Hoyt St">Degraw St & Hoyt St)</option>
        <option label="Degraw St & Smith St">Degraw St & Smith St)</option>
        <option label="Devoe St & Lorimer St">Devoe St & Lorimer St)</option>
        <option label="Ditmars Blvd & 19 St">Ditmars Blvd & 19 St)</option>
        <option label="Division Ave & Hooper St">Division Ave & Hooper St)</option>
        <option label="Division Ave & Marcy Ave">Division Ave & Marcy Ave)</option>
        <option label="Douglass St & 3 Ave">Douglass St & 3 Ave)</option>
        <option label="Douglass St & 4 Ave">Douglass St & 4 Ave)</option>
        <option label="Driggs Ave & Lorimer St">Driggs Ave & Lorimer St)</option>
        <option label="Driggs Ave & N Henry St">Driggs Ave & N Henry St)</option>
        <option label="Duffield St & Willoughby St">Duffield St & Willoughby St)</option>
        <option label="Dwight St & Van Dyke St">Dwight St & Van Dyke St)</option>
        <option label="E 10 St & Avenue A">E 10 St & Avenue A)</option>
        <option label="E 102 St & 1 Ave">E 102 St & 1 Ave)</option>
        <option label="E 102 St & Park Ave">E 102 St & Park Ave)</option>
        <option label="E 103 St & Lexington Ave">E 103 St & Lexington Ave)</option>
        <option label="E 106 St & 1 Ave">E 106 St & 1 Ave)</option>
        <option label="E 106 St & Lexington Ave">E 106 St & Lexington Ave)</option>
        <option label="E 106 St & Madison Ave">E 106 St & Madison Ave)</option>
        <option label="E 109 St & 3 Ave">E 109 St & 3 Ave)</option>
        <option label="E 110 St & Madison Ave">E 110 St & Madison Ave)</option>
        <option label="E 114 St & 1 Ave">E 114 St & 1 Ave)</option>
        <option label="E 115 St & Lexington Ave">E 115 St & Lexington Ave)</option>
        <option label="E 115 St & Madison Ave">E 115 St & Madison Ave)</option>
        <option label="E 116 St & 2 Ave">E 116 St & 2 Ave)</option>
        <option label="E 118 St & 1 Ave">E 118 St & 1 Ave)</option>
        <option label="E 118 St & 3 Ave">E 118 St & 3 Ave)</option>
        <option label="E 118 St & Madison Ave">E 118 St & Madison Ave)</option>
        <option label="E 118 St & Park Ave">E 118 St & Park Ave)</option>
        <option label="E 12 St & 3 Ave">E 12 St & 3 Ave)</option>
        <option label="E 12 St & Avenue B">E 12 St & Avenue B)</option>
        <option label="E 123 St & Lexington Ave">E 123 St & Lexington Ave)</option>
        <option label="E 128 St & Madison Ave">E 128 St & Madison Ave)</option>
        <option label="E 13 St & Avenue A">E 13 St & Avenue A)</option>
        <option label="E 16 St & 5 Ave">E 16 St & 5 Ave)</option>
        <option label="E 16 St & Irving Pl">E 16 St & Irving Pl)</option>
        <option label="E 17 St & Broadway">E 17 St & Broadway)</option>
        <option label="E 2 St & 2 Ave">E 2 St & 2 Ave)</option>
        <option label="E 2 St & Avenue A">E 2 St & Avenue A)</option>
        <option label="E 20 St & 2 Ave">E 20 St & 2 Ave)</option>
        <option label="E 20 St & FDR Drive">E 20 St & FDR Drive)</option>
        <option label="E 20 St & Park Ave">E 20 St & Park Ave)</option>
        <option label="E 23 St & 1 Ave">E 23 St & 1 Ave)</option>
        <option label="E 24 St & Park Ave S">E 24 St & Park Ave S)</option>
        <option label="E 25 St & 2 Ave">E 25 St & 2 Ave)</option>
        <option label="E 27 St & 1 Ave">E 27 St & 1 Ave)</option>
        <option label="E 30 St & Park Ave S">E 30 St & Park Ave S)</option>
        <option label="E 31 St & 3 Ave">E 31 St & 3 Ave)</option>
        <option label="E 32 St & Park Ave">E 32 St & Park Ave)</option>
        <option label="E 33 St & 1 Ave">E 33 St & 1 Ave)</option>
        <option label="E 33 St & 2 Ave">E 33 St & 2 Ave)</option>
        <option label="E 33 St & 5 Ave">E 33 St & 5 Ave)</option>
        <option label="E 35 St & 3 Ave">E 35 St & 3 Ave)</option>
        <option label="E 39 St & 2 Ave">E 39 St & 2 Ave)</option>
        <option label="E 4 St & 2 Ave">E 4 St & 2 Ave)</option>
        <option label="E 41 St & Madison Ave">E 41 St & Madison Ave)</option>
        <option label="E 43 St & 5 Ave">E 43 St & 5 Ave)</option>
        <option label="E 44 St & 2 Ave">E 44 St & 2 Ave)</option>
        <option label="E 45 St & 3 Ave">E 45 St & 3 Ave)</option>
        <option label="E 47 St & 1 Ave">E 47 St & 1 Ave)</option>
        <option label="E 47 St & Park Ave">E 47 St & Park Ave)</option>
        <option label="E 48 St & 5 Ave">E 48 St & 5 Ave)</option>
        <option label="E 5 St & Avenue C">E 5 St & Avenue C)</option>
        <option label="E 51 St & 1 Ave">E 51 St & 1 Ave)</option>
        <option label="E 51 St & Lexington Ave">E 51 St & Lexington Ave)</option>
        <option label="E 52 St & 2 Ave">E 52 St & 2 Ave)</option>
        <option label="E 53 St & 3 Ave">E 53 St & 3 Ave)</option>
        <option label="E 53 St & Madison Ave">E 53 St & Madison Ave)</option>
        <option label="E 55 St & 3 Ave">E 55 St & 3 Ave)</option>
        <option label="E 55 St & Lexington Ave">E 55 St & Lexington Ave)</option>
        <option label="E 58 St & 1 Ave">E 58 St & 1 Ave)</option>
        <option label="E 58 St & Madison Ave">E 58 St & Madison Ave)</option>
        <option label="E 59 St & Madison Ave">E 59 St & Madison Ave)</option>
        <option label="E 6 St & Avenue D">E 6 St & Avenue D)</option>
        <option label="E 60 St & York Ave">E 60 St & York Ave)</option>
        <option label="E 65 St & 2 Ave">E 65 St & 2 Ave)</option>
        <option label="E 68 St & 3 Ave">E 68 St & 3 Ave)</option>
        <option label="E 68 St & Madison Ave">E 68 St & Madison Ave)</option>
        <option label="E 7 St & Avenue A">E 7 St & Avenue A)</option>
        <option label="E 71 St & 1 Ave">E 71 St & 1 Ave)</option>
        <option label="E 72 St & Park Ave">E 72 St & Park Ave)</option>
        <option label="E 72 St & York Ave">E 72 St & York Ave)</option>
        <option label="E 74 St & 1 Ave">E 74 St & 1 Ave)</option>
        <option label="E 75 St & 3 Ave">E 75 St & 3 Ave)</option>
        <option label="E 76 St & 3 Ave">E 76 St & 3 Ave)</option>
        <option label="E 76 St & Park Ave">E 76 St & Park Ave)</option>
        <option label="E 78 St & 2 Ave">E 78 St & 2 Ave)</option>
        <option label="E 81 St & 2 Ave">E 81 St & 2 Ave)</option>
        <option label="E 81 St & 3 Ave">E 81 St & 3 Ave)</option>
        <option label="E 81 St & Park Ave">E 81 St & Park Ave)</option>
        <option label="E 81 St & York Ave">E 81 St & York Ave)</option>
        <option label="E 82 St & East End Ave">E 82 St & East End Ave)</option>
        <option label="E 84 St & 1 Ave">E 84 St & 1 Ave)</option>
        <option label="E 84 St & Park Ave">E 84 St & Park Ave)</option>
        <option label="E 85 St & 3 Ave">E 85 St & 3 Ave)</option>
        <option label="E 85 St & York Ave">E 85 St & York Ave)</option>
        <option label="E 88 St & Park Ave">E 88 St & Park Ave)</option>
        <option label="E 9 St & Avenue C">E 9 St & Avenue C)</option>
        <option label="E 91 St & 2 Ave">E 91 St & 2 Ave)</option>
        <option label="E 91 St & Park Ave">E 91 St & Park Ave)</option>
        <option label="E 93 St & 2 Ave">E 93 St & 2 Ave)</option>
        <option label="E 97 St & 3 Ave">E 97 St & 3 Ave)</option>
        <option label="E 97 St & Madison Ave">E 97 St & Madison Ave)</option>
        <option label="E 98 St & Park Ave">E 98 St & Park Ave)</option>
        <option label="East End Ave & E 86 St">East End Ave & E 86 St)</option>
        <option label="Eastern Pkwy & Franklin Ave">Eastern Pkwy & Franklin Ave)</option>
        <option label="Eastern Pkwy & Washington Ave">Eastern Pkwy & Washington Ave)</option>
        <option label="Eckford St & Engert Ave">Eckford St & Engert Ave)</option>
        <option label="FDR Drive & E 35 St">FDR Drive & E 35 St)</option>
        <option label="Flushing Ave & Vanderbilt Ave">Flushing Ave & Vanderbilt Ave)</option>
        <option label="Forsyth St & Broome St">Forsyth St & Broome St)</option>
        <option label="Forsyth St & Canal St">Forsyth St & Canal St)</option>
        <option label="Franklin Ave & Empire Blvd">Franklin Ave & Empire Blvd)</option>
        <option label="Franklin Ave & Myrtle Ave">Franklin Ave & Myrtle Ave)</option>
        <option label="Franklin Ave & St Marks Ave">Franklin Ave & St Marks Ave)</option>
        <option label="Franklin St & Dupont St">Franklin St & Dupont St)</option>
        <option label="Frederick Douglass Blvd & W 112 St">Frederick Douglass Blvd & W 112 St)</option>
        <option label="Frederick Douglass Blvd & W 117 St">Frederick Douglass Blvd & W 117 St)</option>
        <option label="Frederick Douglass Blvd & W 129 St">Frederick Douglass Blvd & W 129 St)</option>
        <option label="Front St & Gold St">Front St & Gold St)</option>
        <option label="Front St & Washington St">Front St & Washington St)</option>
        <option label="Frost St & Meeker St">Frost St & Meeker St)</option>
        <option label="Fulton St & Adams St">Fulton St & Adams St)</option>
        <option label="Fulton St & Clermont Ave">Fulton St & Clermont Ave)</option>
        <option label="Fulton St & Grand Ave">Fulton St & Grand Ave)</option>
        <option label="Fulton St & Utica Ave">Fulton St & Utica Ave)</option>
        <option label="Fulton St & Waverly Ave">Fulton St & Waverly Ave)</option>
        <option label="Gansevoort St & Hudson St">Gansevoort St & Hudson St)</option>
        <option label="Garfield Pl & 8 Ave">Garfield Pl & 8 Ave)</option>
        <option label="Gold St & Frankfort St">Gold St & Frankfort St)</option>
        <option label="Graham Ave & Conselyea St">Graham Ave & Conselyea St)</option>
        <option label="Graham Ave & Grand St">Graham Ave & Grand St)</option>
        <option label="Graham Ave & Herbert St">Graham Ave & Herbert St)</option>
        <option label="Graham Ave & Withers St">Graham Ave & Withers St)</option>
        <option label="Grand Army Plaza & Plaza St West">Grand Army Plaza & Plaza St West)</option>
        <option label="Grand Ave & Bergen St">Grand Ave & Bergen St)</option>
        <option label="Grand St & Elizabeth St">Grand St & Elizabeth St)</option>
        <option label="Grand St & Greene St">Grand St & Greene St)</option>
        <option label="Grand St & Havemeyer St">Grand St & Havemeyer St)</option>
        <option label="Greene Ave & Nostrand Ave">Greene Ave & Nostrand Ave)</option>
        <option label="Greene Ave & Throop Ave">Greene Ave & Throop Ave)</option>
        <option label="Greenpoint Ave & Manhattan Ave">Greenpoint Ave & Manhattan Ave)</option>
        <option label="Greenwich Ave & Charles St">Greenwich Ave & Charles St)</option>
        <option label="Halsey St & Tompkins Ave">Halsey St & Tompkins Ave)</option>
        <option label="Hancock St & Bedford Ave">Hancock St & Bedford Ave)</option>
        <option label="Hanson Pl & Ashland Pl">Hanson Pl & Ashland Pl)</option>
        <option label="Henry St & Bay St">Henry St & Bay St)</option>
        <option label="Henry St & Degraw St">Henry St & Degraw St)</option>
        <option label="Henry St & Grand St">Henry St & Grand St)</option>
        <option label="Henry St & Poplar St">Henry St & Poplar St)</option>
        <option label="Henry St & W 9 St">Henry St & W 9 St)</option>
        <option label="Hicks St & Montague St">Hicks St & Montague St)</option>
        <option label="Hope St & Union Ave">Hope St & Union Ave)</option>
        <option label="Hoyt St & Warren St">Hoyt St & Warren St)</option>
        <option label="Humboldt St & Varet St">Humboldt St & Varet St)</option>
        <option label="Huron St & Franklin St">Huron St & Franklin St)</option>
        <option label="India St & Manhattan Ave">India St & Manhattan Ave)</option>
        <option label="India St & West St">India St & West St)</option>
        <option label="Jackson Ave & 46 Rd">Jackson Ave & 46 Rd)</option>
        <option label="Jackson St & Leonard St">Jackson St & Leonard St)</option>
        <option label="Jay St & Tech Pl">Jay St & Tech Pl)</option>
        <option label="Jay St & York St">Jay St & York St)</option>
        <option label="John St & William St">John St & William St)</option>
        <option label="Kane St & Clinton St">Kane St & Clinton St)</option>
        <option label="Kent Ave & N 7 St">Kent Ave & N 7 St)</option>
        <option label="Kingston Ave & Herkimer St">Kingston Ave & Herkimer St)</option>
        <option label="Kosciuszko St & Nostrand Ave">Kosciuszko St & Nostrand Ave)</option>
        <option label="Kosciuszko St & Tompkins Ave">Kosciuszko St & Tompkins Ave)</option>
        <option label="Lafayette Ave & Classon Ave">Lafayette Ave & Classon Ave)</option>
        <option label="Lafayette Ave & St James Pl">Lafayette Ave & St James Pl)</option>
        <option label="Lafayette St & Jersey St">Lafayette St & Jersey St)</option>
        <option label="Lefferts Pl & Franklin Ave">Lefferts Pl & Franklin Ave)</option>
        <option label="Lenox Ave & W 111 St">Lenox Ave & W 111 St)</option>
        <option label="Lenox Ave & W 115 St">Lenox Ave & W 115 St)</option>
        <option label="Lenox Ave & W 117 St">Lenox Ave & W 117 St)</option>
        <option label="Lenox Ave & W 126 St">Lenox Ave & W 126 St)</option>
        <option label="Lenox Ave & W 130 St">Lenox Ave & W 130 St)</option>
        <option label="Leonard St & Boerum St">Leonard St & Boerum St)</option>
        <option label="Leonard St & Maujer St">Leonard St & Maujer St)</option>
        <option label="Leonard St & Nassau Ave">Leonard St & Nassau Ave)</option>
        <option label="Lewis Ave & Decatur St">Lewis Ave & Decatur St)</option>
        <option label="Lewis Ave & Kosciuszko St">Lewis Ave & Kosciuszko St)</option>
        <option label="Lewis Ave & Madison St">Lewis Ave & Madison St)</option>
        <option label="Lexington Ave & E 111 St">Lexington Ave & E 111 St)</option>
        <option label="Lexington Ave & E 120 St">Lexington Ave & E 120 St)</option>
        <option label="Lexington Ave & E 127 St">Lexington Ave & E 127 St)</option>
        <option label="Lexington Ave & E 24 St">Lexington Ave & E 24 St)</option>
        <option label="Lexington Ave & E 29 St">Lexington Ave & E 29 St)</option>
        <option label="Lexington Ave & E 63 St">Lexington Ave & E 63 St)</option>
        <option label="Lincoln Pl & Classon Ave">Lincoln Pl & Classon Ave)</option>
        <option label="Little West St & 1 Pl">Little West St & 1 Pl)</option>
        <option label="Lorimer St & Broadway">Lorimer St & Broadway)</option>
        <option label="Macon St & Nostrand Ave">Macon St & Nostrand Ave)</option>
        <option label="Madison Ave & E 120 St">Madison Ave & E 120 St)</option>
        <option label="Madison Ave & E 82 St">Madison Ave & E 82 St)</option>
        <option label="Madison Ave & E 99 St">Madison Ave & E 99 St)</option>
        <option label="Marcus Garvey Blvd & Macon St">Marcus Garvey Blvd & Macon St)</option>
        <option label="Marcy Ave & Lafayette Ave">Marcy Ave & Lafayette Ave)</option>
        <option label="Market St & Cherry St">Market St & Cherry St)</option>
        <option label="McGuinness Blvd & Eagle St">McGuinness Blvd & Eagle St)</option>
        <option label="McKibbin St & Manhattan Ave">McKibbin St & Manhattan Ave)</option>
        <option label="Mercer St & Bleecker St">Mercer St & Bleecker St)</option>
        <option label="Meserole Ave & Manhattan Ave">Meserole Ave & Manhattan Ave)</option>
        <option label="Metropolitan Ave & Bedford Ave">Metropolitan Ave & Bedford Ave)</option>
        <option label="Metropolitan Ave & Meeker Ave">Metropolitan Ave & Meeker Ave)</option>
        <option label="Milton St & Franklin St">Milton St & Franklin St)</option>
        <option label="Monroe St & Tompkins Ave">Monroe St & Tompkins Ave)</option>
        <option label="Montgomery St & Franklin Ave">Montgomery St & Franklin Ave)</option>
        <option label="Montrose Ave & Bushwick Ave">Montrose Ave & Bushwick Ave)</option>
        <option label="Morningside Ave & W 123 St">Morningside Ave & W 123 St)</option>
        <option label="Morningside Dr & Amsterdam Ave">Morningside Dr & Amsterdam Ave)</option>
        <option label="Mt Morris Park W & W 120 St">Mt Morris Park W & W 120 St)</option>
        <option label="Murray St & Greenwich St">Murray St & Greenwich St)</option>
        <option label="Myrtle Ave & Lewis Ave">Myrtle Ave & Lewis Ave)</option>
        <option label="Myrtle Ave & Marcy Ave">Myrtle Ave & Marcy Ave)</option>
        <option label="N 12 St & Bedford Ave">N 12 St & Bedford Ave)</option>
        <option label="N 15 St & Wythe Ave">N 15 St & Wythe Ave)</option>
        <option label="N 6 St & Bedford Ave">N 6 St & Bedford Ave)</option>
        <option label="N 8 St & Driggs Ave">N 8 St & Driggs Ave)</option>
        <option label="NYCBS Depot - GOW">NYCBS Depot - GOW)</option>
        <option label="NYCBS Depot - RIS">NYCBS Depot - RIS)</option>
        <option label="NYCBS Depot - STY - Garage 4">NYCBS Depot - STY - Garage 4)</option>
        <option label="NYCBS Depot BAL - DYR">NYCBS Depot BAL - DYR)</option>
        <option label="Nassau Ave & Newell St">Nassau Ave & Newell St)</option>
        <option label="Nassau Ave & Russell St">Nassau Ave & Russell St)</option>
        <option label="Newton Rd & 44 St">Newton Rd & 44 St)</option>
        <option label="Newtown Ave & 23 St">Newtown Ave & 23 St)</option>
        <option label="North Moore St & Greenwich St">North Moore St & Greenwich St)</option>
        <option label="Nostrand Ave & Myrtle Ave">Nostrand Ave & Myrtle Ave)</option>
        <option label="Pacific St & Classon Ave">Pacific St & Classon Ave)</option>
        <option label="Pacific St & Nevins St">Pacific St & Nevins St)</option>
        <option label="Park Ave & E 124 St">Park Ave & E 124 St)</option>
        <option label="Park Ave & Marcus Garvey Blvd">Park Ave & Marcus Garvey Blvd)</option>
        <option label="Park Pl & Franklin Ave">Park Pl & Franklin Ave)</option>
        <option label="Park Pl & Vanderbilt Ave">Park Pl & Vanderbilt Ave)</option>
        <option label="Pearl St & Anchorage Pl">Pearl St & Anchorage Pl)</option>
        <option label="Pearl St & Hanover Square">Pearl St & Hanover Square)</option>
        <option label="Pershing Square North">Pershing Square North)</option>
        <option label="Pershing Square South">Pershing Square South)</option>
        <option label="Picnic Point">Picnic Point)</option>
        <option label="Pier 40 - Hudson River Park">Pier 40 - Hudson River Park)</option>
        <option label="Pioneer St & Richards St">Pioneer St & Richards St)</option>
        <option label="Pioneer St & Van Brunt St">Pioneer St & Van Brunt St)</option>
        <option label="Pitt St & Stanton St">Pitt St & Stanton St)</option>
        <option label="Plaza St West & Flatbush Ave">Plaza St West & Flatbush Ave)</option>
        <option label="Pleasant Ave & E 116 St">Pleasant Ave & E 116 St)</option>
        <option label="Pleasant Ave & E 120 St">Pleasant Ave & E 120 St)</option>
        <option label="President St & Henry St">President St & Henry St)</option>
        <option label="Prospect Park West & 8 St">Prospect Park West & 8 St)</option>
        <option label="Prospect Pl & 6 Ave">Prospect Pl & 6 Ave)</option>
        <option label="Prospect Pl & Underhill Ave">Prospect Pl & Underhill Ave)</option>
        <option label="Pulaski St & Marcus Garvey Blvd">Pulaski St & Marcus Garvey Blvd)</option>
        <option label="Putnam Ave & Nostrand Ave">Putnam Ave & Nostrand Ave)</option>
        <option label="Putnam Ave & Throop Ave">Putnam Ave & Throop Ave)</option>
        <option label="Queens Plaza North & Crescent St">Queens Plaza North & Crescent St)</option>
        <option label="Railroad Ave & Kay Ave">Railroad Ave & Kay Ave)</option>
        <option label="Richards St & Delavan St">Richards St & Delavan St)</option>
        <option label="Richardson St & N Henry St">Richardson St & N Henry St)</option>
        <option label="Riverside Blvd & W 67 St">Riverside Blvd & W 67 St)</option>
        <option label="Riverside Dr & W 104 St">Riverside Dr & W 104 St)</option>
        <option label="Riverside Dr & W 72 St">Riverside Dr & W 72 St)</option>
        <option label="Riverside Dr & W 78 St">Riverside Dr & W 78 St)</option>
        <option label="Riverside Dr & W 82 St">Riverside Dr & W 82 St)</option>
        <option label="Riverside Dr & W 91 St">Riverside Dr & W 91 St)</option>
        <option label="Rivington St & Chrystie St">Rivington St & Chrystie St)</option>
        <option label="Roebling St & N 4 St">Roebling St & N 4 St)</option>
        <option label="Rogers Ave & Sterling St">Rogers Ave & Sterling St)</option>
        <option label="S 3 St & Bedford Ave">S 3 St & Bedford Ave)</option>
        <option label="S 4 St & Rodney St">S 4 St & Rodney St)</option>
        <option label="S 4 St & Wythe Ave">S 4 St & Wythe Ave)</option>
        <option label="S 5 Pl & S 5 St">S 5 Pl & S 5 St)</option>
        <option label="Sands St & Navy St">Sands St & Navy St)</option>
        <option label="Schermerhorn St & 3 Ave">Schermerhorn St & 3 Ave)</option>
        <option label="Schermerhorn St & Bond St">Schermerhorn St & Bond St)</option>
        <option label="Schermerhorn St & Court St">Schermerhorn St & Court St)</option>
        <option label="Scholes St & Manhattan Ave">Scholes St & Manhattan Ave)</option>
        <option label="Sigourney St & Columbia St">Sigourney St & Columbia St)</option>
        <option label="Smith St & 3 St">Smith St & 3 St)</option>
        <option label="Smith St & 9 St">Smith St & 9 St)</option>
        <option label="Soissons Landing">Soissons Landing)</option>
        <option label="South End Ave & Liberty St">South End Ave & Liberty St)</option>
        <option label="St Johns Pl & Washington Ave">St Johns Pl & Washington Ave)</option>
        <option label="St Marks Pl & 1 Ave">St Marks Pl & 1 Ave)</option>
        <option label="St Nicholas Ave & Manhattan Ave">St Nicholas Ave & Manhattan Ave)</option>
        <option label="St. Nicholas Ave & W 126 St">St. Nicholas Ave & W 126 St)</option>
        <option label="Stagg St & Union Ave">Stagg St & Union Ave)</option>
        <option label="Steinway St & 23 Ave">Steinway St & 23 Ave)</option>
        <option label="Steinway St & 28 Ave">Steinway St & 28 Ave)</option>
        <option label="Sterling Pl & 7 Ave">Sterling Pl & 7 Ave)</option>
        <option label="Sterling Pl & Bedford Ave">Sterling Pl & Bedford Ave)</option>
        <option label="Sterling St & Bedford Ave">Sterling St & Bedford Ave)</option>
        <option label="Suffolk St & Stanton St">Suffolk St & Stanton St)</option>
        <option label="Sullivan Pl & Bedford Ave">Sullivan Pl & Bedford Ave)</option>
        <option label="Throop Ave & Myrtle Ave">Throop Ave & Myrtle Ave)</option>
        <option label="Tompkins Ave & Hopkins St">Tompkins Ave & Hopkins St)</option>
        <option label="Underhill Ave & Lincoln Pl">Underhill Ave & Lincoln Pl)</option>
        <option label="Underhill Ave & Pacific St">Underhill Ave & Pacific St)</option>
        <option label="Union Ave & Jackson St">Union Ave & Jackson St)</option>
        <option label="Union Ave & N 12 St">Union Ave & N 12 St)</option>
        <option label="Union Ave & Wallabout St">Union Ave & Wallabout St)</option>
        <option label="Union St & 4 Ave">Union St & 4 Ave)</option>
        <option label="Union St & Bedford Ave">Union St & Bedford Ave)</option>
        <option label="Union St & Nevins St">Union St & Nevins St)</option>
        <option label="University Pl & E 14 St">University Pl & E 14 St)</option>
        <option label="University Pl & E 8 St">University Pl & E 8 St)</option>
        <option label="Van Brunt St & Van Dyke St">Van Brunt St & Van Dyke St)</option>
        <option label="Van Brunt St & Wolcott St">Van Brunt St & Wolcott St)</option>
        <option label="Vernon Blvd & 10 St">Vernon Blvd & 10 St)</option>
        <option label="Vernon Blvd & 30 Rd">Vernon Blvd & 30 Rd)</option>
        <option label="Vernon Blvd & 31 Ave">Vernon Blvd & 31 Ave)</option>
        <option label="Vernon Blvd & 41 Rd">Vernon Blvd & 41 Rd)</option>
        <option label="Vernon Blvd & 47 Rd">Vernon Blvd & 47 Rd)</option>
        <option label="Vernon Blvd & 50 Ave">Vernon Blvd & 50 Ave)</option>
        <option label="Verona Pl & Fulton St">Verona Pl & Fulton St)</option>
        <option label="W 100 St & Broadway">W 100 St & Broadway)</option>
        <option label="W 100 St & Manhattan Ave">W 100 St & Manhattan Ave)</option>
        <option label="W 104 St & Amsterdam Ave">W 104 St & Amsterdam Ave)</option>
        <option label="W 104 St & Amsterdam Ave - 1">W 104 St & Amsterdam Ave - 1)</option>
        <option label="W 106 St & Amsterdam Ave">W 106 St & Amsterdam Ave)</option>
        <option label="W 106 St & Central Park West">W 106 St & Central Park West)</option>
        <option label="W 107 St & Columbus Ave">W 107 St & Columbus Ave)</option>
        <option label="W 110 St & Amsterdam Ave">W 110 St & Amsterdam Ave)</option>
        <option label="W 113 St & Broadway">W 113 St & Broadway)</option>
        <option label="W 116 St & Amsterdam Ave">W 116 St & Amsterdam Ave)</option>
        <option label="W 116 St & Broadway">W 116 St & Broadway)</option>
        <option label="W 12 St & W 4 St">W 12 St & W 4 St)</option>
        <option label="W 120 St & Claremont Ave">W 120 St & Claremont Ave)</option>
        <option label="W 129 St & Convent Ave">W 129 St & Convent Ave)</option>
        <option label="W 15 St & 10 Ave">W 15 St & 10 Ave)</option>
        <option label="W 15 St & 7 Ave">W 15 St & 7 Ave)</option>
        <option label="W 16 St & 8 Ave">W 16 St & 8 Ave)</option>
        <option label="W 17 St & 9 Ave">W 17 St & 9 Ave)</option>
        <option label="W 18 St & 9 Ave">W 18 St & 9 Ave)</option>
        <option label="W 20 St & 11 Ave">W 20 St & 11 Ave)</option>
        <option label="W 21 St & 6 Ave">W 21 St & 6 Ave)</option>
        <option label="W 22 St & 10 Ave">W 22 St & 10 Ave)</option>
        <option label="W 22 St & 8 Ave">W 22 St & 8 Ave)</option>
        <option label="W 24 St & 7 Ave">W 24 St & 7 Ave)</option>
        <option label="W 25 St & 6 Ave">W 25 St & 6 Ave)</option>
        <option label="W 26 St & 10 Ave">W 26 St & 10 Ave)</option>
        <option label="W 26 St & 8 Ave">W 26 St & 8 Ave)</option>
        <option label="W 27 St & 10 Ave">W 27 St & 10 Ave)</option>
        <option label="W 27 St & 7 Ave">W 27 St & 7 Ave)</option>
        <option label="W 31 St & 7 Ave">W 31 St & 7 Ave)</option>
        <option label="W 33 St & 7 Ave">W 33 St & 7 Ave)</option>
        <option label="W 34 St & 11 Ave">W 34 St & 11 Ave)</option>
        <option label="W 36 St & 9 Ave">W 36 St & 9 Ave)</option>
        <option label="W 37 St & 10 Ave">W 37 St & 10 Ave)</option>
        <option label="W 37 St & 5 Ave">W 37 St & 5 Ave)</option>
        <option label="W 38 St & 8 Ave">W 38 St & 8 Ave)</option>
        <option label="W 4 St & 7 Ave S">W 4 St & 7 Ave S)</option>
        <option label="W 41 St & 8 Ave">W 41 St & 8 Ave)</option>
        <option label="W 42 St & 8 Ave">W 42 St & 8 Ave)</option>
        <option label="W 42 St & Dyer Ave">W 42 St & Dyer Ave)</option>
        <option label="W 43 St & 10 Ave">W 43 St & 10 Ave)</option>
        <option label="W 43 St & 6 Ave">W 43 St & 6 Ave)</option>
        <option label="W 44 St & 5 Ave">W 44 St & 5 Ave)</option>
        <option label="W 45 St & 6 Ave">W 45 St & 6 Ave)</option>
        <option label="W 45 St & 8 Ave">W 45 St & 8 Ave)</option>
        <option label="W 46 St & 11 Ave">W 46 St & 11 Ave)</option>
        <option label="W 47 St & 10 Ave">W 47 St & 10 Ave)</option>
        <option label="W 49 St & 8 Ave">W 49 St & 8 Ave)</option>
        <option label="W 52 St & 5 Ave">W 52 St & 5 Ave)</option>
        <option label="W 52 St & 6 Ave">W 52 St & 6 Ave)</option>
        <option label="W 53 St & 10 Ave">W 53 St & 10 Ave)</option>
        <option label="W 54 St & 9 Ave">W 54 St & 9 Ave)</option>
        <option label="W 55 St & 6 Ave">W 55 St & 6 Ave)</option>
        <option label="W 56 St & 10 Ave">W 56 St & 10 Ave)</option>
        <option label="W 59 St & 10 Ave">W 59 St & 10 Ave)</option>
        <option label="W 63 St & Broadway">W 63 St & Broadway)</option>
        <option label="W 64 St & West End Ave">W 64 St & West End Ave)</option>
        <option label="W 67 St & Broadway">W 67 St & Broadway)</option>
        <option label="W 70 St & Amsterdam Ave">W 70 St & Amsterdam Ave)</option>
        <option label="W 74 St & Columbus Ave">W 74 St & Columbus Ave)</option>
        <option label="W 76 St & Columbus Ave">W 76 St & Columbus Ave)</option>
        <option label="W 78 St & Broadway">W 78 St & Broadway)</option>
        <option label="W 82 St & Central Park West">W 82 St & Central Park West)</option>
        <option label="W 84 St & Broadway">W 84 St & Broadway)</option>
        <option label="W 84 St & Columbus Ave">W 84 St & Columbus Ave)</option>
        <option label="W 87 St & Amsterdam Ave">W 87 St & Amsterdam Ave)</option>
        <option label="W 88 St & West End Ave">W 88 St & West End Ave)</option>
        <option label="W 89 St & Columbus Ave">W 89 St & Columbus Ave)</option>
        <option label="W 90 St & Amsterdam Ave">W 90 St & Amsterdam Ave)</option>
        <option label="W 92 St & Broadway">W 92 St & Broadway)</option>
        <option label="W 95 St & Broadway">W 95 St & Broadway)</option>
        <option label="W Broadway & Spring Street">W Broadway & Spring Street)</option>
        <option label="Warren St & Court St">Warren St & Court St)</option>
        <option label="Washington Pl & 6 Ave">Washington Pl & 6 Ave)</option>
        <option label="Washington St & Gansevoort St">Washington St & Gansevoort St)</option>
        <option label="Water - Whitehall Plaza">Water - Whitehall Plaza)</option>
        <option label="West Drive & Prospect Park West">West Drive & Prospect Park West)</option>
        <option label="West End Ave & W 107 St">West End Ave & W 107 St)</option>
        <option label="West End Ave & W 94 St">West End Ave & W 94 St)</option>
        <option label="West St & Chambers St">West St & Chambers St)</option>
        <option label="West Thames St">West Thames St)</option>
        <option label="William St & Pine St">William St & Pine St)</option>
        <option label="Willoughby Ave & Tompkins Ave">Willoughby Ave & Tompkins Ave)</option>
        <option label="Willoughby Ave & Walworth St">Willoughby Ave & Walworth St)</option>
        <option label="Wolcott St & Dwight St">Wolcott St & Dwight St)</option>
        <option label="Wyckoff St & 3 Ave">Wyckoff St & 3 Ave)</option>
        <option label="Wythe Ave & Metropolitan Ave">Wythe Ave & Metropolitan Ave)</option>
        <option label="Yankee Ferry Terminal">Yankee Ferry Terminal)</option>
    </select>
    <div id='graph1'><div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.35.2/plotly.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/home.js"></script>
  </div>

</body>

</html>
